body {
    font-family: 'Nunito', sans-serif;
    margin: 0px auto;
    text-transform: lowercase;
}

* {
    box-sizing: border-box;
  }

/* header */

a {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.menu-item:hover::after {
  width: 100%;
  transition: width .3s;
}

.menu-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 51, 187);
    transition: width .3s;
}

.header {
    background-color: transparent;
    position: sticky; 
    overflow: auto; 
    width: 100%;
}
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
   /* Removed due to unwanted background color on hover 
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  */
  .header .logo {
    display: block;
    float: left;
    text-decoration: none;
    margin: 5px;
  }
  
  /* menu */
  
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding: 10px;
  }
  
  /* menu icon */  
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: rgb(0, 0, 0);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */  
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* Add a media query when the view port is smaller than = 48em = 768px/. 
  This will display the links to the pages in a responsive way */
  
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  
h2 {
  text-align: center;
}

  .footer-area {
      background-color: transparent;
      position: sticky;
  }

  .footer-text {
      text-align: center;
      color: black;
      font-size: 20px;
      font-weight: 900;
  }
  
  /* slideshow on index page */
  .img-container {
    width: 100%;
    height: 80vh;
  }

  .img-container img {
    width: 100%;
    height: 100%;
  }


  /* photos catalogue page */
 
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 20px;
    overflow: hidden;
  }
  
  .row,
  .row > .column {
    padding: 8px;
    overflow: hidden;
  }
  
  .column {
    float: left;
    width: 25%;
    display: none; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    width: 400px;
    height: 200px;
  }
  
  .show {
    display: block;
  }

.gallery-img {
  height: 100%;  
   border-radius: 5px;
    width: 100%;
  }

  @media (min-width: 40em) {
    main {
      width: 80%;
    }
  }

.gallery-img:hover {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 5px;
}

  /* Style the buttons ON PHOTOS PAGE */
  .btn {
    text-transform: inherit;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  }
  
  .btn:hover {
    background-color: rgb(167, 240, 250);
  }
  
  .btn.active {
    background-color: rgb(79, 255, 217);
    color: rgb(0, 0, 0);
  }

  
#buttonContainer {
  margin: 50px;
  text-align: center;
}
  
  /* end of photos catalogue page */

  .container {
    height: 100%;
    overflow: hidden;
    background: #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
}

.grid-item {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
}


.grid-container-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
}

.grid-item-blog {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.88);
  -moz-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.88);
}

.grid-container-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
}


.grid-item-contact {
  border-radius: 3px;
  padding: 110px;
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

.img-auto {
  max-width: 100%;
  border-radius: 5px;
  max-height: 450px;
}

.fas, .fab {
  font-size: 30px;
  color: rgb(92, 92, 92);

}

.fas:hover, .fab:hover {
  font-size: 30px;
  color: rgb(233, 140, 0);
}

small {
  color: grey;
}

.blog-image {
  border-radius: 10px;
  width: 100%;
}
@media (min-width: 40em) {
  main {
    width: 80%;
  }
}

.blog-image-prev {
  border-radius: 10px;
  width: 100%;
  height: 350px;
}
@media (min-width: 40em) {
  main {
    width: 80%;
  }
}



details {
color: rgb(3, 102, 86);
}

